{% load static %}
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(100, 100, 80, 0.6);">
    <div class="container-fluid" >
        <a class="navbar-brand" href="#">More than a coffee shop</a>
        <!-- TOOGLE -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Left links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'product_list' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_search' %}">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tags' %}">All tags</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
            <!-- Right links -->
            <div class="d-flex align-items-center">
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Hello, {{ user.username }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{% url 'update_profile' %}">Update profile </a></li>
                        <li><a class="dropdown-item" href="{% url 'add_product' %}">Add product </a></li>
                        {% if user.is_staff %}
                        <li><a class="dropdown-item" href="{% url 'user_products' %}">All products </a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'user_products' %}">Your products </a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign out </a></li>
                    </ul>
                </div>
                {% else %}
                <a class="btn btn-secondary px-3 me-2" role="button" href="{% url 'account_login' %}">
                    Sign in
                </a>
                <a class="btn btn-primary me-3" role="button" href="{% url 'account_signup' %}">
                    Sign up for free
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
