{% load custom_tags %}
<div class="col-sm sidenav m-3 p-3 bg-white">
    <h4>My blog</h4>
    <p class="text-sm-start">There are {% total_posts %} products available.</p>
    <h3 class="text-sm-start">Latest added products</h3>
    {% show_latest_posts 3 %}
    <h3 class="text-sm-start">Most commented posts</h3>
    {% get_most_commented_posts as most_commented_posts %}
    <ul class="text-sm-start list-unstyled">
        {% for product in most_commented_posts %}
        <li><a class="text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title }}</a></li>
        {% endfor %}
    </ul>
    <div class="cart">
        {% with total_items=cart|length %}
        {% if total_items > 0 %}
        Your cart:
        <a href="{% url 'cart_detail' %}">
            {{ total_items }} item{{ total_items|pluralize }},
            ${{ cart.get_total_price }}
        </a>
        {% else %}
        Your cart is empty.
        {% endif %}
        {% endwith %}
    </div>
</div>
