<div class="leftcolumn">
    <div class="transparent1">
        <div class="card">
            <h2 class="updated"><a href="{% url 'product_list' %}">MAIN</a></h2>
        </div>
    </div>
    <div class="transparent1">
        <div class="card">
            <h2 class="updated"><a href="{% url 'post_search' %}">SEARCH</a></h2>
        </div>
    </div>
    <div class="transparent1">
        <div class="card">
            <h2 class="updated"><a href="{% url 'tags' %}">ALL TAGS</a></h2>
        </div>
    </div>
    <div class="transparent1">
        <div class="card">
            <h2 class="updated"><a href="{% url 'about' %}">ABOUT</a></h2>
        </div>
    </div>
    <div class="transparent1">
        <div class="card">
            <h2 class="updated"><a href="{% url 'contact' %}">CONTACT</a></h2>
        </div>
    </div>
</div>
