{% extends "base.html" %}

{% block title %}My Coffee Blog{% endblock %}

{% block content %}

        <div class="transparent1">
            <div class="card">
                <h2 class='textcenter'>
                  CONTACT INFORMATION
                </h2>
                <p>
                    Sed congue lacus enim, non euismod massa semper nec. Curabitur sollicitudin, mauris sit amet finibus fermentum, sapien velit congue leo, accumsan sollicitudin ipsum nunc at lorem. Curabitur eget diam sit amet ligula ultrices gravida vel ac tortor. Vivamus at lobortis purus. Phasellus tristique urna sagittis, hendrerit enim nec, lacinia turpis. Nulla eget purus id nulla pulvinar dapibus vitae mollis orci. Donec vel facilisis ipsum, pharetra dapibus turpis.
                </p>
                <p align="center">
                    California 123-32,<br />
                    St. Circle 33/2
                </p>
            </div>
        </div>

{% endblock %}
