{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}

        <div class="transparent1">
            <div class="card">
                <h2 class='textcenter'>
                  CONTACT INFORMATION
                </h2>
                <p>
                    {{ flatpage.content }}
                </p>
                <p align="center">
                    California 123-32,<br />
                    St. Circle 33/2
                </p>
            </div>
        </div>

{% endblock %}
