{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block content %}

{% for product in my_products %}
<div class="card mb-4">
  <div class="row g-0">
    <div class="col-md-4">
        {% if product.image %}
            <img src="{{ product.image.url }}" class="img-fluid rounded-start">
        {% else %}
            <img src="media/products/no-image.jpg" class="img-fluid rounded-start">
        {% endif %}
    </div>
    <div class="col-md-8 d-flex align-items-center">
      <div class="card-body">
        <h5 class="card-title text-capitalize"><a class="text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title }}</a></h5>
        <p class="card-text">Posted: {{ product.publish }} by {{ product.seller.user }}</p>
        <p class="card-text"><small class="text-muted">
            Tags:
            {% for tag in product.tags.all %}
                <a href="{% url 'tagged' tag.slug %}">{{ tag.name }}</a>
            {% empty %}
                No tags
            {% endfor %}
        </small></p>
      </div>
    </div>
  </div>
</div>

{% endfor %}

{% include "include/pagination.html" with page=page_obj %}
{% endblock %}
