{% extends "base.html" %}

{% block title %}My Coffee Blog{% endblock %}

{% block content %}
    <div class="transparent1">
        <div class="card">
            <h2>{{ product.title }}</h2>
            <p><b>Description:<br />
                {{ product.description }}
            </b></p>
            <li><b>Available:</b> {{ product.count }}</li>
            <li><b>Price:</b> {{ product.price }}$</li>
            <li><b>Shipping from:</b> {{ product.country }}</li>
            <li><b>Seller is:</b> <i>{{ product.seller.user }}</i></li>
            <li><b>Contact:</b> {{ product.seller.phone }}, {{ product.seller.address }}</li>
            <li><b>Posted:</b> {{ product.publish }}</li>
            <p class="img_view">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="img2">
                {% else %}
                    <img src="../media/products/no-image.jpg" class="img2">
                {% endif %}
                {% for image in product.productimages_set.all %}
                    <img src="{{ image.image.url }}" class="img2" alt="{{ image.description }}">
                {% endfor %}
            </p>

            <h2>Comments: </h2>
            <hr />
            {% for comment in product.comments.all %}
                <p>Comment {{ forloop.counter }} by <u>{{ comment.name }}</u> on
                    {{ comment.created }}
                    <br />
                    Contact: {{ comment.email }}
                </p>
                {{ comment.body|linebreaks }}
                <hr />
            {% empty %}
                <p>
                    There are no comments yet.
                </p>
                <hr />
            {% endfor %}

        <br />
        <div style="display:inline-block;">
            <form action="{% url 'product_detail' product.slug %}" method="post">
                <h2>Add a comment:</h2>
                {% csrf_token %}
                {{ form.as_p }}
                <label><input type="submit" value="Add comment" class="comment_button"></label>
            </form>
        </div>
        </div>
    </div>


{% endblock %}
