{% extends "base.html" %}

{% block title %}My Coffee Blog{% endblock %}

{% block content %}
    <div class="transparent1">
        <div class="card">
            <h2>{{ product.title }}</h2>
            <p>{{ product.products_description.description }}</p>
            <li><b>Available:</b> {{ product.count }}</li>
            <li><b>Price:</b> {{ product.price }}$</li>
            <li><b>Shipping from:</b> {{ product.products_description.country }}</li>
            <li><b>Seller is:</b> <i>{{ product.seller }}</i></li>
            <li><b>Contact:</b> {{ product.seller.phone }}, {{ product.seller.address }}</li>
            <li><b>Posted:</b> {{ product.publish }}</li>
            <img src="{{ product.products_description.image.url }}" class="img2">
            <h2>Comments: </h2>
            {% for comment in product.comments.all %}
                <p><b>Name:</b> {{ comment.name }}</p>
                <p><b>Email:</b> {{ comment.email }}</p>
                <p><b>Text:</b> {{ comment.body }}</p><hr />
            {% endfor %}


        <br />
        <div style="display:inline-block;">
            <form action="{% url 'product_detail' product.slug %}" method="post">
                <h2>Add a comment:</h2>
                {% csrf_token %}
                {{ form.as_p }}
                <label><input type="submit" value="Add comment" class="comment_button"></label>
            </form>
        </div>
        </div>
    </div>


{% endblock %}
