{% extends "base.html" %}

{% block title %}My Coffee Blog{% endblock %}

{% block content %}

        {% for product in my_products %}
        <div class="transparent1">
            <div class="card">
                <h2 class='updated'>
                  <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                </h2>
                <p>
                    Posted: {{ product.publish }}
                </p>
                <img src="{{ product.products_description.image.url }}" class="img1">
            </div>
        </div>
        {% endfor %}

    {% include "include/pagination.html" with page=page_obj %}
{% endblock %}
