{% extends "base.html" %}

{% block title %}My Coffee Blog{% endblock %}

{% block content %}

        {% for product in my_products %}
        <div class="transparent1">
            <div class="card">
                <h2 class='updated'>
                  <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                </h2>
                <p>
                    Posted: {{ product.publish }} by {{ product.seller }}
                </p>
                <p class="img_view">
                <img src="{{ product.products_description.image.url }}" class="img1">
                {% for image in product.productimages_set.all %}
                    <img src="{{ image.image.url }}" class="img1" alt="{{ image.description }}">
                {% endfor %}
                </p>
            </div>
        </div>
        {% endfor %}

    {% include "include/pagination.html" with page=page_obj %}
{% endblock %}
