{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}


{% if query %}
<h1>Products containing "{{ query }}"</h1>
<h3>
    {% with results.count as total_results %}
        Found {{ total_results }} result{{ total_results|pluralize}}
    {% endwith %}
</h3>
{% for product in results %}
<div class="transparent1">
    <div class="card">
        <h2 class='updated'>
            <a href="{{ product.get_absolute_url }}">
                {{ product.title }}
            </a>
        </h2>
        <p>
            <b>Short description: </b>{{ product.description|truncatewords:5 }}<br>
            <b>Seller: </b><i>{{ product.seller.user }}</i><br>
        </p>
    </div>
</div>
{% empty %}
    <p>There are no results for your request.</p>
{% endfor %}
<p>
    <a href="{% url 'post_search' %}" class="button">Search again</a>
</p>
{% else %}
    <h1>Search for products</h1>
    <form class="search-form" action="." method="get" style="color: white;">
        {{ form.as_p }}
        <input type="submit" value="Search">
    </form>
{% endif %}

{% endblock %}
