{% extends "base.html" %}

{% block title %}
Your shopping cart
{% endblock %}

{% block content %}
<div class="card mt-2 mx-4 border-0 my_opacity_body">
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start align-items-start p-3">
            <a class="btn btn-outline-primary" href="{% url 'product_list' %}" class="text-uppercase text-decoration-none">Continue shopping</a>
        </div>
        <div class="d-flex justify-content-end align-items-end p-3">
            {% if cart %}
                <a class="btn btn-outline-primary" href="{% url 'order_create' %}" class="text-uppercase text-decoration-none">Checkout</a>
            {% endif %}
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Unit price</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            {% with product=item.product %}
            <tr>
                <td>
                    <a href="{{ product.get_absolute_url }}">
                        <img alt="image" width="80" height="80" src="{{ product.image.url }}">
                    </a>
                </td>
                <td>{{ product.title }}</td>
                <td>
                    <form action="{% url 'cart_add' product.id %}" method="post">
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.override }}
                        <input class="btn btn-primary" type="submit" value="Update">
                        {% csrf_token %}
                    </form>
                </td>
                <td>
                    <form action="{% url 'cart_remove' product.id %}" method="post">
                        <input class="btn btn-outline-danger" type="submit" value="Remove">
                        {% csrf_token %}
                    </form>
                </td>
                <td class="num">${{ item.price }}</td>
                <td class="num">${{ item.total_price }}</td>
            </tr>
            {% endwith %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr class="total">
                <td>Total</td>
                <td colspan="4"></td>
                <td class="num">${{ cart.get_total_price }}</td>
            </tr>
        </tfoot>
    </table>
    <div class="h4 pt-3"> <span class="fas fa-shield-alt text-primary pr-2"></span> Security of your shopping</div>
    <p class="text-dark">Need help with an order?</p>
    <p class="text-dark"><a href="#" class="text-danger">Hotline:</a>+314440160 (International)</p>
</div>

{% endblock %}
