{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Your products" %}{% endblock %}

{% block content %}
{% if products %}
{% for product in products %}
<div class="transparent1">
    <div class="card">
        <h2 class='updated'>
          <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
        </h2>
        <p>Posted: {{ product.publish }} by {{ product.seller.user }}</p>
        <p>Tags:
        {% for tag in product.tags.all %}
            <a href="{% url 'tagged' tag.slug %}">{{ tag.name }}</a>
        {% empty %}
            No tags
        {% endfor %}
        </p>
        <p class="img_view">
        {% if product.image %}
            <img src="{{ product.image.url }}" class="img1">
        {% else %}
            <img src="../media/products/no-image.jpg" class="img1">
        {% endif %}
        {% for image in product.productimages_set.all %}
            <img src="{{ image.image.url }}" class="img1" alt="{{ image.description }}">
        {% endfor %}
        </p>
        <a href="{% url 'update_product' product.slug %}" class="button">Update</a>
        <a href="{% url 'delete_product' product.slug %}" class="button">Delete</a>
    </div>
</div>
{% endfor %}

{% if products.has_other_pages %}
  <ul id="menu">
    {% if products.has_previous %}
      <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled">&laquo;</li>
    {% endif %}
    {% for i in products.paginator.page_range %}
      {% if products.number == i %}
        <li class="active">{{ i }} (current)</li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if products.has_next %}
      <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled">&raquo;</li>
    {% endif %}
  </ul>
{% endif %}
{% else %}
<div class="transparent1">
    <div class="card">
        <p>
            There are no products yet.
        </p>
    </div>
</div>
{% endif %}





{% endblock %}
