{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Your products" %}{% endblock %}

{% block content %}

{% if products %}
{% for product in products %}
<div class="card mt-2 mb-4 mx-4 my_opacity_body">
    <div class="row g-0">
        <div class="col-md-4">
            <a href="{{ product.get_absolute_url }}">
                {% if product.image %}
                <img src="{{ product.image.url }}" class="img-fluid h-100 rounded-start">
                {% else %}
                <img src="media/products/no-image.jpg" class="img-fluid rounded-start">
                {% endif %}
            </a>
        </div>
        <div class="col-md-8 d-flex align-items-center">
            <div class="card-body">
                <h5 class="card-title text-capitalize">{{ product.title }}</h5>
                <p class="card-text">Posted: {{ product.publish }} by {{ product.seller.user }}</p>
                <p class="card-text">
                    <small class="text-dark">
                        Tags:
                        {% for tag in product.tags.all %}
                        <a href="{% url 'tagged' tag.slug %}">{{ tag.name }}</a>
                        {% empty %}
                        No tags
                        {% endfor %}
                    </small>
                </p>
                <p>
                    Available: <button type="button" class="btn btn-lg btn-dark" disabled>{{ product.available }}</button>
                </p>
            </div>
            <div class="card-body">
                <a href="{% url 'update_product' product.slug %}" class="btn btn-outline-success">Update</a>
                <a href="{% url 'cancel_product' product.slug %}" class="btn btn-outline-warning">Cancel</a>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% else %}
<div class="card mt-2 mx-4 my_opacity_body">
    <h1>No products</h1>
</div>
{% endif %}

<div class="pagination">
    {% if products.has_other_pages %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mx-4">
            {% if products.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ products.previous_page_number }}" tabindex="-1"><i class="fas fa-caret-square-left fa-lg"></i></a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link"><i class="fas fa-caret-square-left"></i></a>
            </li>
            {% endif %}
            {% for i in products.paginator.page_range %}
            {% if products.number == i %}
            <li class="page-item active"><a class="page-link">{{ i }}</a></li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if products.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ products.next_page_number }}"><i class="fas fa-caret-square-right fa-lg"></i></a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link"><i class="fas fa-caret-square-right"></i></a></li>
            {% endif %}
        </ul>
    </nav>

    {% endif %}
</div>

{% endblock %}
